.footer {
  position: relative;
  display: block;
}

.bottom {
  position: relative;
  display: block;
  text-align: center;
  border-top: 1px solid rgba(var(--shapehr-gray-rgb), 0.1);
  padding: 32px 0;
  margin-top: 69px;
}

.bottom p {
  font-size: 16px;
  color: #9baebd;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

/* scroll to top */
.scrollToTopButton {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: var(--shapehr-base);
  position: fixed;
  bottom: 28px;
  right: 40px;
  z-index: 99;
  text-align: center;
  border-radius: 50%;
  transition: all .4s ease; /* slow transition when hovered over */
}


.fadeIn {
  animation: fadeIn 2s ease;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut 5s ease;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from { 
    opacity: 1;
  }
  to { 
    opacity: 0;
  }
}

.scrollToTopButton span {
  color: #ffffff;
  font-size: 18px;
  line-height: 45px;
}

.scrollToTopButton:hover {
  background-color: var(--shapehr-black);
}