.mainHeaderTop {
  position: relative;
  height: 45px;
  display: block;
  padding: 0px 80px;
  background-color: var(--shapehr-black);
}

.inner {
  position: relative;
  display: block;
  padding: 5px 0;
}

.left {
  position: relative;
  display: block;
  float: left;
}

.address {
  position: relative;
  display: flex;
  align-items: center;
}

.address li {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 35px;
}

.address li+li {
  margin-left: 30px;
}

.address li .icon span {
  font-size: 14px;
  color: var(--shapehr-base);
}

.address li .text {
  margin-left: 10px;
}

.address li .text p {
  font-size: 14px;
  font-weight: 500;
  color: #9aadbd;
  margin: 0;
}

.address li .text a {
  font-size: 14px;
  font-weight: 500;
  color: #9aadbd;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.address li .text a:hover {
  color: var(--shapehr-white);
}

.right {
  position: relative;
  display: flex;
  float: right;
  align-items: center;
}

.social {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 10px 0;
}

.social a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  color: var(--shapehr-white);
  font-size: 15px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.social a:hover {
  color: var(--shapehr-base);
}

.social a+a {
  margin-left: 25px;
}