.headerRibbon {
  position: relative;
  height: 45px;
  display: block;
  padding: 0px 80px;
  background-color: var(--shapehr-black);
}

.inner {
  position: relative;
  display: block;
  padding: 5px 0;
}

.left {
  position: relative;
  display: block;
  float: left;
}

.address {
  position: relative;
  display: flex;
  align-items: center;
}

.address li {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 35px;
}

.address li+li {
  margin-left: 30px;
}

.address li .icon span {
  font-size: 14px;
  color: var(--shapehr-base);
}

.address li .text {
  margin-left: 10px;
}

.address li .text p {
  font-size: 14px;
  font-weight: 500;
  color: #9aadbd;
  margin: 0;
}

.address li .text a {
  font-size: 14px;
  font-weight: 500;
  color: #9aadbd;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.address li .text a:hover {
  color: var(--shapehr-white);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .headerRibbon {
      display: none;
  }
}

@media (max-width: 767px) {
  .headerRibbon {
    display: none;
  }
}


