/*--------------------------------------------------------------
# Mobile Nav
--------------------------------------------------------------*/
.mobileNavWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* opacity: 0;
  transform: translateX(-50%);
  transform-origin: right center;
  transition: transform 500ms ease-in, opacity 500ms linear,
    visibility 500ms ease-in; */
  z-index: 999;
  visibility: hidden;
  animation: expanded 0.5s ease-in;
  animation-fill-mode: forwards;
}

.mobileNavWrapper .container {
  padding-left: 0;
  padding-right: 0;
}

/* .mobileNavWrapper.expanded {
  opacity: 1;
  transform: translateX(0%);
  visibility: visible;
} */

/* // */
@keyframes expanded {
  from {
    opacity: 0;
    transform: translateX(-50%);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
    visibility: visible;
  }
}

.mobileNavOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.5;
  cursor: pointer;
}

.mobileNavContent {
  width: 300px;
  background-color: var(--shapehr-black);
  z-index: 10;
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.mobileNavContent .logoBox {
  margin-bottom: 40px;
  display: flex;
}

.mobileNavContent .logoBox img {
  height: 60px;
}

.mobileNavClose {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 18px;
  color: var(--shapehr-text-dark);
  cursor: pointer;
}

.mobileNavContent .mobileNavlist,
.obileNavContent .mobileNavlist ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mobileNavContent .mobileNavlist ul {
  display: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.mobileNavContent .mobileNavlist li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobileNavContent .mobileNavlist li a {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  color: #ffffff;
  font-size: 14px;
  font-family: var(--shapehr-font);
  font-weight: 500;
  height: 46px;
  align-items: center;
  transition: 500ms;
}

.mobileNavContent .mobileNavlist li a:hover {
  transform: translateX(2%);
  cursor: pointer;
  color:  var(--shapehr-white);
}

.mobileNavContainer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobileNavContact {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mobileNavContact li {
  color: var(--shapehr-text-dark);
  font-size: 14px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
}

.mobileNavContact li+li {
  margin-top: 15px;
}

.mobileNavContact li p {
  margin-bottom: 0;
  color: #fff;
}

.mobileNavContact .mobileNavIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--shapehr-base);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  margin-right: 10px;
  color: #fff;
}