.menu {
  position: relative;
  padding: 0 80px;
  z-index: 91;
}

.wrapper {
  position: relative;
  display: block;
}

.wrapperLeft {
  position: relative;
  display: block;
  float: left;
}

.wrapperLogo {
  position: relative;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 145px;
}

.wrapperLogo img {
  height: 60px;
}

.wrapperLogo:before {
  position: absolute;
  top: 28px;
  bottom: 28px;
  right: -80px;
  content: "";
  background-color: rgba(var(--shapehr-white-rgb), 0.1);
  width: 1px;
}

.wrapperMainMenu {
  position: relative;
  display: block;
  float: left;
}

.menu .list,
.menu .list ul,
.stricky-header .list,
.stricky-header .list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  display: none;
}

.wrapperRight {
  position: relative;
  display: flex;
  float: right;
  padding: 24px 0;
  align-items: center;
}

.wrapperCall {
  position: relative;
  display: flex;
  align-items: center;
}

.wrapperCallIcon {
  position: relative;
  display: flex;
  align-items: center;
  height: 58px;
  width: 58px;
  background-color: var(--shapehr-base);
  border-radius: 50%;
  justify-content: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.wrapperCallIcon:before {
  position: absolute;
  top: 4px;
  bottom: 5px;
  left: -40px;
  content: "";
  background-color: rgba(var(--shapehr-white-rgb), 0.1);
  width: 1px;
}

.wrapperCallIcon:hover {
  background-color: var(--shapehr-white);
}

.wrapperCallIcon span {
  font-size: 30px;
  color: var(--shapehr-white);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.wrapperCallIcon:hover span {
  color: var(--shapehr-base);
}

.wrapperCallNumber {
  margin-left: 20px;
}

.wrapperCallNumber h5 {
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

.wrapperCallNumber h5 a {
  color: var(--shapehr-white);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.wrapperCallNumber a:hover {
  color: var(--shapehr-base);
}

.wrapperCallNumber p {
  font-size: 14px;
  margin: 0;
  line-height: 26px;
  color: #9aadbd;
}


/*  */
.menu-wrapper__cart {
  font-size: 24px;
  color: var(--shapehr-white);
  margin-left: 30px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menu-wrapper__cart:hover {
  color: var(--shapehr-base);
}

.stricky-header.menu {
  padding: 0 80px;
  background-color: var(--shapehr-black);
}



@media (min-width: 1200px) {

  .menu .list,
  .menu .list ul,
  .stricky-header .list,
  .stricky-header .list ul {
    display: flex;
  }
}

.menu .list>li,
.stricky-header .list>li {
  padding-top: 36px;
  padding-bottom: 36px;
  position: relative;
}

.menu .list>li+li,
.stricky-header .list>li+li {
  margin-left: 70px;
}

.menu .list>li>a,
.stricky-header .list>li>a {
  font-size: 16px;
  display: flex;
  align-items: center;
  color: var(--shapehr-white);
  position: relative;
  transition: all 500ms ease;
  font-weight: 400;
}

.menu .list>li>a::before,
.stricky-header .list>li>a::before {
  content: "";
  height: 2px;
  width: 12px;
  border-radius: 0px;
  background-color: var(--shapehr-base);
  position: absolute;
  bottom: 16px;
  left: -22px;
  transition: transform 500ms ease;
  transform: scale(0, 1);
  transform-origin: left center;
  z-index: 1;
}

.menu .list>li.current>a,
.menu .list>li:hover>a,
.stricky-header .list>li.current>a,
.stricky-header .list>li:hover>a {
  color: var(--shapehr-white);
}

.menu .list>li.current>a::before,
.menu .list>li:hover>a::before,
.stricky-header .list>li.current>a::before,
.stricky-header .list>li:hover>a::before {
  transform: scale(1, 1);
  transform-origin: right center;
}

.menu .list>li.current>a::before {
  background-color: var(--shapehr-base);
}

.menu .list>li:hover>a::before {
  background-color: var(--shapehr-base);
}

.menu .list li ul,
.stricky-header .list li ul {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 220px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  transition: 500ms ease;
  z-index: 99;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.1);
}

.menu .list li:hover>ul,
.stricky-header .list li:hover>ul {
  opacity: 1;
  visibility: visible;
}

.menu .list li ul li,
.stricky-header .list li ul li {
  flex: 1 1 100%;
  width: 100%;
  position: relative;
}

.menu .list li ul li+li,
.stricky-header .list li ul li+li {
  border-top: 1px solid RGBA(var(--shapehr-black), 0.1);
}

.menu .list li ul li a,
.stricky-header .list li ul li a {
  font-size: 16px;
  line-height: 30px;
  color: var(--shapehr-black);
  text-transform: capitalize;
  letter-spacing: 0;
  font-weight: 500;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 500ms;
}

.menu .list li ul li:hover>a,
.stricky-header .list li ul li:hover>a {
  background-color: var(--shapehr-base);
  color: var(--shapehr-white);
}

.menu .list li ul li>ul,
.stricky-header .list li ul li>ul {
  top: 0;
  left: 100%;
}

.menu .list li ul li>ul.right-align,
.stricky-header .list li ul li>ul.right-align {
  top: 0;
  left: auto;
  right: 100%;
}

.menu .list li ul li>ul ul,
.stricky-header .list li ul li>ul ul {
  display: none;
}

.stricky-header {
  position: fixed;
  z-index: 991;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  visibility: hidden;
  transform: translateY(-120%);
  transition: transform 500ms ease, visibility 500ms ease;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1199px) {
  .stricky-header {
    display: none !important;
  }
}

.stricky-header.stricky-fixed {
  transform: translateY(0);
  visibility: visible;
}

.stricky-header .main-menu__inner {
  box-shadow: none;
  padding-right: 0;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.mobile-nav__buttons {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

@media (min-width: 1200px) {
  .mobile-nav__buttons {
    display: none;
  }
}

.mobile-nav__buttons a {
  font-size: 20px;
  color: var(--shapehr-black);
  cursor: pointer;
}

.mobile-nav__buttons a+a {
  margin-left: 10px;
}

.mobile-nav__buttons a:hover {
  color: var(--shapehr-base);
}

.menu .mobile-nav__toggler {
  font-size: 20px;
  color: var(--shapehr-white);
  cursor: pointer;
  transition: 500ms;
}

.menu .mobile-nav__toggler:hover {
  color: var(--shapehr-base);
}

@media (min-width: 1200px) {
  .menu .mobile-nav__toggler {
    display: none;
  }
}