/* Structure */
.menu {
  position: relative;
  padding: 0 80px;
  z-index: 91;
}

.overlay {
  height: 110px;
  background-color: rgba(var(--shapehr-black-rgb), 0.1);
}

.stickyHeader.menu {
  background-color: var(--shapehr-black);
}

.wrapper {
  position: relative;
  display: block;
}

/* Logo - left */
.wrapperLeft {
  position: relative;
  display: block;
  float: left;
}

.logo {
  position: relative;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 145px;
}

.logo img {
  height: 70px;
}

.logo:before {
  position: absolute;
  top: 28px;
  bottom: 28px;
  right: -80px;
  content: "";
  background-color: rgba(var(--shapehr-white-rgb), 0.1);
  width: 1px;
}

/* Navigation menu */
.mainMenu {
  position: relative;
  display: block;
  float: left;
}

/* Navigation menu ---> mobile nav toggler */
.menu .mobileNavToggler {
  font-size: 20px;
  color: var(--shapehr-white);
  cursor: pointer;
  transition: 500ms;
}

.menu .mobileNavToggler:hover {
  color: var(--shapehr-base);
}

/* Navigation menu ---> nav items */
.menu .list,
.stickyHeader .list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  display: none;
}

.menu .list a {
  cursor: pointer;
}

.menu .list>li,
.stickyHeader .list>li {
  padding-top: 38px;
  padding-bottom: 38px;
  position: relative;
}

.menu .list>li+li,
.stickyHeader .list>li+li {
  margin-left: 70px;
}

.menu .list>li>a,
.stickyHeader .list>li>a {
  font-size: 16px;
  display: flex;
  align-items: center;
  color: var(--shapehr-white);
  position: relative;
  transition: all 500ms ease;
  font-weight: 400;
}

.menu .list>li>a::before,
.stickyHeader .list>li>a::before {
  content: "";
  height: 2px;
  width: 12px;
  border-radius: 0px;
  background-color: var(--shapehr-base);
  position: absolute;
  bottom: 16px;
  left: -22px;
  transition: transform 500ms ease;
  transform: scale(0, 1);
  transform-origin: left center;
  z-index: 1;
}

.menu .list>li.current>a,
.menu .list>li:hover>a,
.stickyHeader .list>li.current>a,
.stickyHeader .list>li:hover>a {
  color: var(--shapehr-white);
}

.menu .list>li.current>a::before,
.menu .list>li:hover>a::before,
.stickyHeader .list>li.current>a::before,
.stickyHeader .list>li:hover>a::before {
  transform: scale(1, 1);
  transform-origin: right center;
}

.menu .list>li.current>a::before {
  background-color: var(--shapehr-base);
}

.menu .list>li:hover>a::before {
  background-color: var(--shapehr-base);
}

/* CTA - right */
.wrapperRight {
  position: relative;
  display: flex;
  float: right;
  padding: 24px 0;
  align-items: center;
}

.wrapperContact {
  position: relative;
  display: flex;
  align-items: center;
}

.wrapperContact:before {
  position: absolute;
  top: 4px;
  bottom: 5px;
  left: -40px;
  content: "";
  background-color: rgba(var(--shapehr-white-rgb), 0.1);
  width: 1px;
}

/* CTA - button */
.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  /* -webkit-appearance: none; */
  outline: none !important;
  background-color: var(--shapehr-base);
  color: var(--shapehr-white);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 60px 15px;
  transition: all 0.3s linear;
  overflow: hidden;
  letter-spacing: 0.1em;
  z-index: 1;
  cursor: pointer;
  animation: btn 2s ease;
}

.btn:hover {
  color: var(--shapehr-white);
}

.btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: -2px;
  bottom: 0;
  background-color: var(--shapehr-black);
  transition: transform 500ms ease;
  transform: scale(0, 1);
  transform-origin: left center;
  z-index: -1;
}

.btn:hover:after {
  transform: scale(1, 1);
  transform-origin: right center;
}

/* Sticky header */
.stickyHeader {
  position: fixed;
  z-index: 991;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    transform: translateY(-120%);
    visibility: hidden;
  }
  to {
    transform: translateY(0);
    visibility: visible;
  }
}

/* Responsive layout */
@media (max-width: 1199px) {
  .stickyHeader {
    display: none !important;
  }

  .wrapperRight {
    display: none;
  }
}

@media (max-width: 991px) {
  .wrapperRight {
    display: none;
  }

  .mainMenu {
    float: right;
  }

  .menu .mobileNavToggler {
    display: inline-block;
    padding: 36px 0;
  }

  .logo {
    margin-right: 0;
}

  .logo:before {
    display: none;
  }

  .logo img {
    height: 70px;
  }

  .wrapperLeft {
      float: none;
  }
}

@media (max-width: 767px) {
  .menu {
    padding: 0 30px;
  }

  .logo img {
    height: 60px;
  }
}

@media (min-width: 992px) {
  .menu .mobileNavToggler {
    display: none;
  }

  .menu .list,
  .stickyHeader .list {
    display: flex;
  }
}