/* Structure */
.menu {
  position: relative;
  padding: 0 80px;
  z-index: 91;
}

.wrapper {
  position: relative;
  display: block;
}

/* Logo - left */
.wrapperLeft {
  position: relative;
  display: block;
  float: left;
}

.wrapperLogo {
  position: relative;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 145px;
}

.wrapperLogo img {
  height: 70px;
}

.wrapperLogo:before {
  position: absolute;
  top: 28px;
  bottom: 28px;
  right: -80px;
  content: "";
  background-color: rgba(var(--shapehr-white-rgb), 0.1);
  width: 1px;
}

/* Navigation menu */
.wrapperMainMenu {
  position: relative;
  display: block;
  float: left;
}

.strickyHeader.menu {
  padding: 0 80px;
  background-color: var(--shapehr-black);
}

.menu .list,
.menu .list ul,
.strickyHeader .list,
.strickyHeader .list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  display: none;
}

.menu .list a {
  cursor: pointer;
}

/* CTA - right */
.wrapperRight {
  position: relative;
  display: flex;
  float: right;
  padding: 24px 0;
  align-items: center;
}

.wrapperContact {
  position: relative;
  display: flex;
  align-items: center;
}

.wrapperContact:before {
  position: absolute;
  top: 4px;
  bottom: 5px;
  left: -40px;
  content: "";
  background-color: rgba(var(--shapehr-white-rgb), 0.1);
  width: 1px;
}

/* CTA - button */
.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  /* -webkit-appearance: none; */
  outline: none !important;
  background-color: var(--shapehr-base);
  color: var(--shapehr-white);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 60px 15px;
  transition: all 0.3s linear;
  overflow: hidden;
  letter-spacing: 0.1em;
  z-index: 1;
  cursor: pointer;
  animation: btn 2s ease;
}

.btn:hover {
  color: var(--shapehr-white);
}

.btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: -2px;
  bottom: 0;
  background-color: var(--shapehr-black);
  transition: transform 500ms ease;
  transform: scale(0, 1);
  transform-origin: left center;
  z-index: -1;
}

.btn:hover:after {
  transform: scale(1, 1);
  transform-origin: right center;
}



@media (min-width: 992px) {

  .menu .list,
  .menu .list ul,
  .strickyHeader .list,
  .strickyHeader .list ul {
    display: flex;
  }
}

.menu .list>li,
.strickyHeader .list>li {
  padding-top: 38px;
  padding-bottom: 38px;
  position: relative;
}

.menu .list>li+li,
.strickyHeader .list>li+li {
  margin-left: 70px;
}

.menu .list>li>a,
.strickyHeader .list>li>a {
  font-size: 16px;
  display: flex;
  align-items: center;
  color: var(--shapehr-white);
  position: relative;
  transition: all 500ms ease;
  font-weight: 400;
}

.menu .list>li>a::before,
.strickyHeader .list>li>a::before {
  content: "";
  height: 2px;
  width: 12px;
  border-radius: 0px;
  background-color: var(--shapehr-base);
  position: absolute;
  bottom: 16px;
  left: -22px;
  transition: transform 500ms ease;
  transform: scale(0, 1);
  transform-origin: left center;
  z-index: 1;
}

.menu .list>li.current>a,
.menu .list>li:hover>a,
.strickyHeader .list>li.current>a,
.strickyHeader .list>li:hover>a {
  color: var(--shapehr-white);
}

.menu .list>li.current>a::before,
.menu .list>li:hover>a::before,
.strickyHeader .list>li.current>a::before,
.strickyHeader .list>li:hover>a::before {
  transform: scale(1, 1);
  transform-origin: right center;
}

.menu .list>li.current>a::before {
  background-color: var(--shapehr-base);
}

.menu .list>li:hover>a::before {
  background-color: var(--shapehr-base);
}

.menu .list li ul,
.strickyHeader .list li ul {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 220px;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  visibility: hidden;
  transition: 500ms ease;
  z-index: 99;
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.1);
}

.menu .list li:hover>ul,
.strickyHeader .list li:hover>ul {
  opacity: 1;
  visibility: visible;
}

.menu .list li ul li,
.strickyHeader .list li ul li {
  flex: 1 1 100%;
  width: 100%;
  position: relative;
}

.menu .list li ul li+li,
.strickyHeader .list li ul li+li {
  border-top: 1px solid RGBA(var(--shapehr-black), 0.1);
}

.menu .list li ul li a,
.strickyHeader .list li ul li a {
  font-size: 16px;
  line-height: 30px;
  color: var(--shapehr-black);
  text-transform: capitalize;
  letter-spacing: 0;
  font-weight: 500;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 500ms;
}

.menu .list li ul li:hover>a,
.strickyHeader .list li ul li:hover>a {
  background-color: var(--shapehr-base);
  color: var(--shapehr-white);
}

.menu .list li ul li>ul,
.strickyHeader .list li ul li>ul {
  top: 0;
  left: 100%;
}

.menu .list li ul li>ul.right-align,
.strickyHeader .list li ul li>ul.rightAlign {
  top: 0;
  left: auto;
  right: 100%;
}

.menu .list li ul li>ul ul,
.strickyHeader .list li ul li>ul ul {
  display: none;
}

.strickyHeader {
  position: fixed;
  z-index: 991;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  /* visibility: hidden;
  transform: translateY(-120%); */
  /* transform: translateY(0); */
  /* visibility: visible; */
  /* transition: transform 500ms ease, visibility 500ms ease; */
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    transform: translateY(-120%);
    visibility: hidden;
  }
  to {
    transform: translateY(0);
    visibility: visible;
  }
}

.strickyHeader.strickyFixed {
  transform: translateY(0);
  visibility: visible;
}

@media (max-width: 1199px) {
  .strickyHeader {
    display: none !important;
  }

  .wrapperRight {
    display: none;
  }

}



.mobile-nav__buttons {
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

@media (max-width: 991px) {
  .wrapperRight {
    display: none;
  }

  .wrapperMainMenu {
    float: right;
  }

  .menu .mobileNavToggler {
    display: inline-block;
    padding: 36px 0;
  }

  .wrapperLogo:before {
    display: none;
  }

  .wrapperLogo img {
    height: 70px;
  }

  .wrapperLogo {
      margin-right: 0;
  }

  .wrapperLeft {
      float: none;
  }
}

@media (max-width: 767px) {
  .menu {
    padding: 0 30px;
  }

  .wrapperLogo img {
    height: 60px;
  }
}

@media (min-width: 1200px) {
  
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  

  .wrapperLogo:before {
    right: -75px;
}

}


@media (min-width: 1200px) {
  .mobile-nav__buttons {
    display: none;
  }
}

.mobile-nav__buttons a {
  font-size: 30px;
  color: var(--shapehr-black);
  cursor: pointer;
}

.mobile-nav__buttons a+a {
  margin-left: 10px;
}

.mobile-nav__buttons a:hover {
  color: var(--shapehr-base);
}

.menu .mobileNavToggler {
  font-size: 20px;
  color: var(--shapehr-white);
  cursor: pointer;
  transition: 500ms;
}

.menu .mobileNavToggler:hover {
  color: var(--shapehr-base);
}

@media (min-width: 992px) {
  .menu .mobileNavToggler {
    display: none;
  }
}



/*--------------------------------------------------------------
# Mobile Nav
--------------------------------------------------------------*/
.mobileNavWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transform: translateX(-50%);
  transform-origin: right center;
  transition: transform 500ms ease-in, opacity 500ms linear,
    visibility 500ms ease-in;
  z-index: 999;
  visibility: hidden;
}

.mobileNavWrapper .container {
  padding-left: 0;
  padding-right: 0;
}

.mobileNavWrapper.expanded {
  opacity: 1;
  transform: translateX(0%);
  visibility: visible;
}

.mobileNavOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.5;
  cursor: pointer;
}

.mobileNavContent {
  width: 300px;
  background-color: var(--shapehr-black);
  z-index: 10;
  position: relative;
  height: 100%;
  overflow-y: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.mobileNavContent .logoBox {
  margin-bottom: 40px;
  display: flex;
}

.mobileNavContent .logoBox img {
  height: 60px;
}

.mobileNavClose {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 18px;
  color: var(--shapehr-text-dark);
  cursor: pointer;
}

.mobileNavContent .mobileNavlist,
.obileNavContent .mobileNavlist ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mobileNavContent .mobileNavlist ul {
  display: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.mobileNavContent .mobileNavlist li:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobileNavContent .mobileNavlist li a {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  color: #ffffff;
  font-size: 14px;
  font-family: var(--shapehr-font);
  font-weight: 500;
  height: 46px;
  align-items: center;
  transition: 500ms;
}

.mobileNavContent .mobileNavlist li a:hover {
  transform: translateX(2%);
  cursor: pointer;
}

.mobileNavContainer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobileNavContact {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mobileNavContact li {
  color: var(--shapehr-text-dark);
  font-size: 14px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
}

.mobileNavContact li+li {
  margin-top: 15px;
}

.mobileNavContact li p {
  margin-bottom: 0;
  color: #fff;
}

.mobileNavContact .mobileNavIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--shapehr-base);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  margin-right: 10px;
  color: #fff;
}