.page {
  position: relative;
  display: block;
  padding: 120px 0 80px;
}

/* Section Title */

.sectionTitle {
  margin-top: 9px;
  margin-bottom: 47px;
  text-align: center;
}

.sectionTitle span {
  position: relative;
  display: inline-block;
  color: var(--shapehr-gray);
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 4px;
}

.sectionTitle span:before {
  position: absolute;
  top: -15px;
  left: 0;
  width: 13px;
  content: "";
  height: 2px;
  background-color: var(--shapehr-base);
}

.sectionTitle span:after {
  position: absolute;
  top: -15px;
  left: 17px;
  width: 13px;
  content: "";
  height: 2px;
  background-color: var(--shapehr-base);
}

.sectionTitle span:before {
  left: 52%;
  transform: translateX(-50%);
}

.sectionTitle span:after {
  right: 52%;
  left: inherit;
  transform: translateX(-50%);
}

.sectionTitle h2 {
  margin: 0;
  font-size: 50px;
  line-height: 60px;
  font-weight: 500;
  width: 500px;
  margin: 0 auto;
}

/* Form */

.form {
  margin-bottom: 60px;
}

.inputWrap {
  position: relative;
  display: block;
}

.inputWrap input[type="text"],
.inputWrap input[type="email"] {
  height: 63px;
  width: 100%;
  border: none;
  background-color: #edf3f6;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  border-radius: 0;
  outline: none;
  font-size: 14px;
  color: var(--shapehr-gray);
  font-weight: 500;
  display: block;
}

.inputWrap textarea {
  font-size: 14px;
  color: var(--shapehr-gray);
  height: 150px;
  width: 100%;
  background-color: #edf3f6;
  padding: 18px 30px 30px;
  border: none;
  border-radius: 0px;
  outline: none;
  margin-bottom: 20px;
  border-radius: 0;
  font-weight: 500;
}

/* Contact details */

.details {
  position: relative;
  display: block;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 60px 0px rgb(0, 0, 0, 0.05);
  padding: 38px 40px 50px;
}

.details:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  height: 4px;
  background-color: var(--shapehr-base);
}

.details ul {
  position: relative;
  display: block;
}

.details ul li+li {
  margin-top: 39px;
}

.details ul li span {
  font-size: 16px;
}

.details ul li p {
  font-weight: 700;
  color: var(--shapehr-black);
  margin: 0;
  line-height: 25px;
}

.details ul li p a {
  color: var(--shapehr-black);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.details ul li p a:hover {
  color: var(--shapehr-base);
}

.details ul li:last-child p {
  line-height: 30px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social a {
  position: relative;
  height: 47px;
  width: 47px;
  margin-right: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  color: var(--shapehr-black);
  font-size: 15px;
  background-color: #edf3f6;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 1;
}

.social a:hover {
  color: var(--shapehr-white) !important;
}

.social a:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: var(--shapehr-base);
  transition: transform 500ms ease;
  transform: scale(0, 1);
  transform-origin: left center;
  z-index: -1;
}

.social a:hover:before {
  transform: scale(1, 1);
  transform-origin: right center;
}


@media only screen and (max-width: 767px) {
  .sectionTitle h2 {
    font-size: 30px;
    line-height: 40px;
    width: 300px;
  }

}




