.contactPage {
  position: relative;
  display: block;
  padding: 120px 0 120px;
}

/* .contactPage .container {
  max-width: 1200px;
  width: 100%;
} */

.contactPageForm .commentFormBtn {
  margin: 20px auto 0;
  display: block;
}

/* Section Title */

.sectionTitle {
  margin-top: 9px;
  margin-bottom: 47px;
}


.sectionTitleTagline {
  position: relative;
  display: inline-block;
  color: var(--shapehr-gray);
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 4px;
}

.sectionTitleTagline:before {
  position: absolute;
  top: -15px;
  left: 0;
  width: 13px;
  content: "";
  height: 2px;
  background-color: var(--shapehr-base);
}

.sectionTitleTagline:after {
  position: absolute;
  top: -15px;
  left: 17px;
  width: 13px;
  content: "";
  height: 2px;
  background-color: var(--shapehr-base);
}

.sectionTitle__title {
  margin: 0;
  font-size: 50px;
  line-height: 60px;
  font-weight: 500;
}

.contactPage .sectionTitleTagline:before {
  left: 52%;
  transform: translateX(-50%);
}

.contactPage .sectionTitleTagline:after {
  right: 52%;
  left: inherit;
  transform: translateX(-50%);
}

/* Form */

.comment-one__title,
.comment-form__title {
  margin: 0;
  color: var(--shapehr-black);
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 52px;
}

.comment-one__single {
  display: -webkit-box;
  display: flex;
  border-bottom: 1px solid #c9d5db;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.comment-one__content {
  position: relative;
  margin-left: 45px;
}

.comment-one__content h3 {
  margin: 0;
  font-size: 20px;
  color: var(--shapehr-black);
  margin-bottom: 25px;
  font-weight: 700;
}

.comment-one__content p {
  font-size: 16px;
  line-height: 32px;
  margin: 0;
}

.comment-one__btn {
  font-size: 12px;
  padding: 5px 30px;
  position: absolute;
  top: 0;
  right: 0;
}

.comment-one__btn:hover {
  color: var(--shapehr-black);
}

.comment-one__btn:after {
  background-color: #edf3f6;
}

.comment-one__image {
  position: relative;
  display: block;
  border-radius: 50%;
}

.comment-one__image img {
  border-radius: 50%;
}

.comment-form .comment-form__title {
  margin-top: -8px;
}

.inputBox {
  position: relative;
  display: block;
}

.inputBox input[type="text"],
.inputBox input[type="email"] {
  height: 63px;
  width: 100%;
  border: none;
  background-color: #edf3f6;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
  border-radius: 0;
  outline: none;
  font-size: 14px;
  color: var(--shapehr-gray);
  font-weight: 500;
  display: block;
}

.inputBox textarea {
  font-size: 14px;
  color: var(--shapehr-gray);
  height: 180px;
  width: 100%;
  background-color: #edf3f6;
  padding: 18px 30px 30px;
  border: none;
  border-radius: 0px;
  outline: none;
  margin-bottom: 0px;
  border-radius: 0;
  font-weight: 500;
}

/* Button */

.thmBtn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  /* -webkit-appearance: none; */
  outline: none !important;
  background-color: var(--shapehr-base);
  color: var(--shapehr-white);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 60px 15px;
  transition: all 0.3s linear;
  overflow: hidden;
  letter-spacing: 0.1em;
  z-index: 1;
}

.thmBtn:hover {
  color: var(--shapehr-white);
}

.thmBtn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: -2px;
  bottom: 0;
  background-color: var(--shapehr-black);
  transition: transform 500ms ease;
  transform: scale(0, 1);
  transform-origin: left center;
  z-index: -1;
}

.thmBtn:hover:after {
  transform: scale(1, 1);
  transform-origin: right center;
}

.commentFormBtn {
  border: none;
  margin-top: 20px;
}


/* Contact details */

.details {
  position: relative;
  display: block;
  margin-left: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 60px 0px rgb(0, 0, 0, 0.05);
  padding: 38px 50px 50px;
}


.details:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: "";
  height: 4px;
  background-color: var(--shapehr-base);
}

.detailsList {
  position: relative;
  display: block;
}

.detailsList li+li {
  margin-top: 39px;
}

.detailsList li span {
  font-size: 16px;
}

.detailsList li p {
  font-weight: 700;
  color: var(--shapehr-black);
  margin: 0;
  line-height: 25px;
}

.detailsList li p a {
  color: var(--shapehr-black);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.detailsList li p a:hover {
  color: var(--shapehr-base);
}

.detailsList li:last-child p {
  line-height: 30px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.detailsSocial {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #c9d5db;
  padding-top: 30px;
  margin-top: 30px;
}

.detailsSocial a,
.social a {
  position: relative;
  height: 47px;
  width: 47px;
  margin-right: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  color: var(--shapehr-black);
  font-size: 15px;
  background-color: #edf3f6;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 1;
}

.detailsSocial a:hover,
.social a:hover {
  color: var(--shapehr-white) !important;
}

.detailsSocial a:before,
.social a:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: var(--shapehr-base);
  transition: transform 500ms ease;
  transform: scale(0, 1);
  transform-origin: left center;
  z-index: -1;
}

.detailsSocial a:hover:before,
.social a:hover:before {
  transform: scale(1, 1);
  transform-origin: right center;
}

.detailsSocial a+a {
  margin-left: 15px;
}
