.section {
  position: relative;
  display: block;
  margin-top: 60px;
  text-align: end;
}

.sectionWrap {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: var(--shapehr-light-gray);
  overflow: hidden;
  z-index: 1;
}

.sectionBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
  opacity: 0.3;
}

/* Section title */

.sectionTitle {
  padding-top: 109px;
  margin-top: 9px;
  margin-bottom: 47px;
}

.tagline {
  position: relative;
  display: inline-block;
  color: var(--shapehr-gray);
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 4px;
}

.tagline:before {
  position: absolute;
  top: -15px;
  left: 0;
  width: 13px;
  content: "";
  height: 2px;
  background-color: var(--shapehr-base);
}

.tagline:after {
  position: absolute;
  top: -15px;
  left: 17px;
  width: 13px;
  content: "";
  height: 2px;
  background-color: var(--shapehr-base);
}

.sectionTitle span:before {
  left: 90%;
  transform: translateX(-50%);
}

.sectionTitle span:after {
  right: 15%;
  left: inherit;
  transform: translateX(-50%);
}

.title {
  margin: 0;
  font-size: 50px;
  line-height: 60px;
  font-weight: 500;
}

/* Section title end */
/* 
.sectionImg {
  position: absolute;
  top: -120px;
} */

.sectionImg img {
  height: 500px;
  /* width: 100%; */
  margin-bottom: 30px;
}

.counter-one__top {
  position: relative;
  display: block;
  padding-top: 109px;
}

.counter-one__top-title {
  font-size: 50px;
  color: var(--shapehr-white);
  line-height: 60px;
  font-weight: 500;
}

.bottom {
  position: relative;
  /* display: block; */
  padding: 0 0 240px;
}
  
.box {
  position: relative;
  background-color: transparent;
    /* height: 125px; */
  /* width: 50%; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  z-index: 1;
  padding-left: 40px;
}

/* .box ul {
  position: relative;
  color: var(--shapehr-black);
  padding-top: 20px;
} */

.box > div {
  position: relative;
  color: var(--shapehr-black);
  /* padding-top: 20px; */
  /* display: flex; */
  padding: 8px 0 8px;
}

.box li {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 0 8px;
}

.box li .icon {
  position: relative;
  color: var(--shapehr-base);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box li .text {
  margin-left: 10px;
}

.points li .text p {
  color: var(--shapehr-black);
  font-weight: 500;
  margin: 0;
}

.box li .text p {
  color: var(--shapehr-black);
  /* font-weight: 500; */
  margin: 0;
  /* font-size: 16px; */
  line-height: 18px;
}


.list {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.shapeTwo {
  position: absolute;
  bottom: -60px;
  right: 45px;
}

.shapeTwo img {
  -webkit-animation: animation1 5s ease-in infinite;
  animation: animation1 5s ease-in infinite;
}

@keyframes animation1 {
	0%,
	100% {
		-webkit-transform: rotate(0deg) translateX(0);
		transform: rotate(0deg) translateX(0);
	}

	25%,
	75% {
		-webkit-transform: rotate(5deg) translateX(15px);
		transform: rotate(5deg) translateX(15px);
	}

	50% {
		-webkit-transform: rotate(10deg) translateX(30px);
		transform: rotate(10deg) translateX(30px);
	}
}

.shapeThree {
  position: absolute;
  bottom: 195px;
  right: 110px;
  -webkit-animation-name: squareMover;
  animation-name: squareMover;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-perspective: 100px;
  perspective: 100px;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

@keyframes squareMover {

  0%,
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
    transform: translate(0, 0) rotate(0);
  }

  20%,
  60% {
    -webkit-transform: translate(20px, 40px) rotate(180deg);
    transform: translate(20px, 40px) rotate(180deg);
  }

  30%,
  80% {
    -webkit-transform: translate(40px, 60px) rotate(0deg);
    transform: translate(40px, 60px) rotate(0deg);
  }
}


.counter-one__single {
  position: relative;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.counter-one__icon {
  position: relative;
  background-color: #002442;
  height: 125px;
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.counter-one__icon:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: var(--shapehr-white);
  transition: transform 500ms ease;
  transform: scale(0, 1);
  transform-origin: left center;
  z-index: -1;
}

.counter-one__single:hover .counter-one__icon:before {
  transform: scale(1, 1);
  transform-origin: right center;
}

.counter-one__icon span {
  position: relative;
  display: inline-block;
  color: var(--shapehr-white);
  font-size: 66px;
  transition: all 500ms linear;
  transition-delay: 0.1s;
}

.counter-one__single:hover .counter-one__icon span {
  transform: rotateY(360deg);
  color: var(--shapehr-base);
}

.counter-one__content {
  margin-left: 30px;
}

.counter-one__content h3 {
  font-size: 40px;
  color: var(--shapehr-white);
  font-weight: 700;
  font-family: var(--shapehr-font) !important;
  line-height: 50px !important;
}

.counter-one__text {
  color: #9aadbd;
  margin: 0;
}

@media only screen and (max-width: 1199px) {

  .box ul {
    font-size: 16px;
    padding-top: 20px;
  }
  }

@media only screen and (max-width: 767px) {

.shapeTwo, .shapeThree {
  display: none;
}
.bottom {
  position: relative;
  /* display: block; */
  padding: 0 0 170px;
}

.box {

  padding-left: 0px;
}
.title {
  font-size: 30px;
  line-height: 40px;
}
}